section.about#about.js-section
    .container.about__container
        .about__user
            .about__avatar
                +image("content/userfiles/avatar.jpg", "about__photo", "аватарка")
            .about__table
                - 
                    var items = [
                        ['Проживаю:', 'г.Барнаул'],
                        ['Возраст:', '34 года'],
                        ['Родился:', '19 октября 1985г'],
                    ]
                table.about__data
                    each row in items
                        tr.about__data-row
                            each cell in row
                                td.about__data-cell.text #{cell} 
        .about__description        
            .about__hello-text.text Привет, меня зовут
            h2.title.about__title Дмитрий Рыбников
            p.about__aboutme-text.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.about__aboutsite-text.text Прошел курсы Веб-разработчика в "Loftschool". Имею небольшой опыт коммерческой разработки. Принимал участие в работе над сайтами: http://upch.alregn.ru/ (Версия для слабовидящих, Календарь новостей), https://trofey.ru/ (часть верстки).