section.skills#skills.js-section
    .container.skills__container
        h2.title.skills__title Чем я могу быть полезен вам
        p.skills__description.text Умею создавать адаптивные, кроссбраузерные сайты, лендинги и SPA-приложения. Имею небольшой навык работы с CMS 1C-Битрикс.
        #skills-component

include skills-vue.pug